# Dependencies
node_modules/
.venv/
venv/
ENV/
env/

# Next.js & Build outputs
.next/
out/
build/
dist/

# Logs & Environment
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS & IDE
.DS_Store
*.pem
.idea/
.vscode/

# SQLite temporary WAL/SHM files
*.db-wal
*.db-shm
